.nav-div{
  background-color:whitesmoke;
  width:100%;
  
}
.navbar {
  background-color: royalblue;
  height: 55px;
  color: white;
  text-align: center;
  margin-top: 2%;
  margin-left:5%;
  margin-right:5%;
}
.wel-come{
 margin-left: 30%;
}
